### string base problem

In [ ]:
# 1.Write a program to reverse a string.
>>> x = input("enter your alphabat")
>>> print(x[::-1])

In [ ]:
#2
string= input("Enter word please")
if string == string[::-1]:
    print("this is palondome")
else:
    print("this is not a palondrome")

In [ ]:
#3
y = str(input("enter your alphabat"))
str.upper(y)

In [ ]:
#4
z = str(input("enter your alphabat"))
str.lower(z)

In [ ]:
#5
R = ("a,e,i,o,u")
string = str(input("enter your string"))
N = 0
for i in R:
    for j in string:
        if i == j:
            N = N + 1
print(N)

In [ ]:
#6
R = ("a,e,i,o,u")
string = str(input("enter your string"))
M = len(string)
N = 0
for i in R:
    for j in string:
        if i == j:
            N = N + 1
print(M - N)

In [ ]:
#6
R = ("a,e,i,o,u")
a = str(input("enter the string"))
m = len(a)
n = 0
for i in R:
    for  j in a:
        if i == j:
            n = n+1
print(m-n)

In [ ]:
#7
string = str(input("Enter the string : "))
New_string = ""
for i in string:
    if i==" ":
        None
    else:
        New_string = New_string + i
print(New_string)

In [ ]:
#8
s = str(input("enter your string"))
l = 0
for i in s:
    l = l+1
print("your string lenght is",l)

In [ ]:
#9 
x =str(input("enter the string :"))
a = input("word to be search :")
if a in x:
    print("yes")
else:
    print("no")

In [ ]:
# 10
string = str(input("enter please your string you want to replace :"))
x1 = str(input("enter word to be remove : "))
x2 = str(input("enter word to be add : "))
New_string = string.replace(x1,x2) 
print(New_string)

In [ ]:
x = str(input("enter string here"))
x.count(input("enter what do you want to find"))

In [ ]:
x = str(input("enter string here : "))
x.find(input("enter what which word index you want to find :"))

In [ ]:
#wrong/
y = str(input("enter string here : "))
y.rfind(input("enter which word index you wnat to find :"))

In [ ]:
#14
text = str(input("enter the word"))
print(' '.join(text))

In [ ]:
#15 Join a list of words into a string.
s = str(input("Enter the string : "))
l = input("Enter the list of word")
for i in l:
    s = s + i
print(s)

In [ ]:
#16 Convert a string where words are separated by spaces to one where words
are separated by underscores.
s = str(input("enter string here"))
print("_".join(s.split()))

In [ ]:
#17 Check if a string starts with a specific word or phrase.
E = str(input("enter the string here"))
i = str(input("enter the specific word"))
y = E.find(i)
if y == 0:   
    print("YES!")
else:
    print("NO!")

In [ ]:
#18 Check if a string ends with a specific word or phrase.
E = str(input("enter the string here"))
y = E.endswith(input("enter the specific word"))
print(y)

In [ ]:
#19 Convert a string to title case
string = str(input("enter the text"))
print(string.title())

In [ ]:
#20 Find the longest word in a string.
def largestWord(s):
    s = sorted(s, key = len)
print(s[-1])
if __name__ == "__main__":
    s = str(input("enter the string here"))
    l = list(s.split(" "))
    largestWord(l)

In [ ]:
#21. Find the shortest word in a string.
def shortestword(s):
    s = sorted(s, key = len)
    print(s[0])
    if __name__ == "__main__":
        s = str(input("enter the string here"))
        l = list(s.split(" "))
        shortestword(l)

In [ ]:
#22.Reverse the order of words in a string
string =  str(input("enter the string here"))
R = string.split()[::-1]
L = []
for i in R :
    R.append(i)
print(" ".join(L))

In [ ]:
#22.Reverse the order of words in a string
string = str(input("enter the string"))
s = string.split()[::-1]
l = []
for i in s:
	l.append(i)
print(" ".join(l))

In [ ]:
#23. Check if a string is alphanumeric
string = str(input("enter the string"))
string.isalnum()

In [ ]:
#24. Extract all digits from a string.
s=input("enter the string with number")
for i in s:
    if(i.isdigit()):
	    print(i,end="")
else:
    print("NO")

In [ ]:
#25. Extract all alphabets from a string
s=input("enter the string with number")
for i in s:
    if(i.isalpha()):
        print(i,end="")
else:
    print("NO")

In [ ]:
#26. Count the number of uppercase letters in a string
try:
    s=input("enter the string ")
    l = len(s)
    N = 0
    for i in range(0,l+1):
        if s[i].isupper() == True:
            N = N + 1
except: Exception           
print(N)

In [ ]:
#27. Count the number of lowercase letters in a string
s=input("enter the string ")
l = len(s)
N = 0
for i in range(0,l):
    if s[i].islower() == True:
        N = N + 1     
print(N)

In [ ]:
#28.Swap the case of each character in a string.
x = input("enter the string")
l = len(x)
y = ""
for i in range(0,l):
    if x[i].islower() == True:
        y = y+x[i].upper()
    elif x[i].isupper() == True:
        y = y+x[i].lower()
    else:
        y = y + x[i]
print(y)

In [ ]:
#29. Remove a specific word from a string
x = input("enter the string")
y = input("word to be remove")
print(x.replace(y,"",))

In [ ]:
# 30 Check if a string is a valid email address
import re

S  = r'\[A-Za-z0-9._%]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
def check(email):
    if (re.fullmatch(S,email)):
        print("valid email")
    else:
        print("invalid email")
        
if __name__ == "__main__":
     email = input(" email :")
check(email)

In [ ]:
#31. Extrac  the username from an email address string.
def username(email_address):
	r = email_address.index("@")
	return "".join(l for l in email_address[:r] if l.isalpha())

email_address = input("Enter email please")
print("Original Email:", email_address)
print("Extract the name from the said Email address:")
print(username(email_address))

In [ ]:
#32. Extract the domain name from an email address string.
string = str(input("enter the email"))
string = string[string.index('@') + 1:]  
print(string)

In [ ]:
# 33. Replace multiple spaces in a string with a single space
string = str(input("ENTER TH STRING"))
result = " ".join(string.split())
print(result)

In [ ]:
# 34. Check if a string is a valid URL 

def Find(string):
	x=string.split()
	res=[]
	for i in x:
		if i.startswith("https:") or i.startswith("http:"):
			res.append(i)
	return res
			
string = input("enter string")
print("Urls: ", Find(string))

In [ ]:
# 35. Extract the protocol (http or https) from a URL string
#import pandas as pd
#rom urllib.parse import urlparse
#url = input("ENTER URL")
#parts = urlparse(url)
#parts
#ParseResult(scheme='http', 
#netloc='flyandlure.org', 
#path='/articles/fly_fishing/fly_fishing_diary_july_2020', 
#params='', 
#query='q=word&b=something', 
#fragment='anchor' )

In [ ]:
#36 Find the frequency of each character in a string.
string = input("enter your  string")

all_frequ = {}

for i in string:
	if i in all_frequ:
		all_frequ[i] += 1
	else:
		all_frequ[i] = 1

print(str(all_frequ))

In [ ]:
# 37. Remove all punctuation from a string
string = input("enter a string")
Punc =  '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
print("The original string is : " + string)
for i in string:
    if i in punc:
        string = string.replace(i,"")
print("The string after punctuation filter : " + string)

In [ ]:
#38 Check if a string contains only digits
string = input("enter string please")
D = string.isdigit()
print(D)

In [ ]:
#39. Check if a string contains only alphabets.
string = input("enter string please")
A = string.isalpha()
print(A)

In [ ]:
#40. Convert a string to a list of characters.
string = input("enter string please")
new_string = list(string)
print(new_string)

In [ ]:
#41 Check if two strings are anagrams.
def is_anagram(str1, str2):
    str1 = str1.lower()
    str2 = str2.lower()
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)
    return sorted_str1 == sorted_str2

In [ ]:
is_anagram("listen", "silent")

In [ ]:
#42  Encode a string using a Caesar cipher.
def caesar_cipher(plaintext, shift):
    ciphertext = ""
    for c in plaintext:
        if c.isalpha():
            new_char = chr((ord(c) + shift - ord("A")%26 + ord("A")))
        ciphertext += new_char
    else:
        ciphertext += c
    return ciphertext

In [ ]:
#43. Decode a Caesar cipher encoded string.
def decode_caesar_cipher(text,shift):
    string = ""
    for i in text:
        if i.isalpha():
            new_str = ord(i) - shift
            if new_str < ord("A"):
                new_str += 26
                string += chr(new_str)
            else:
                string += i
                return string

In [ ]:
#44 . Find the most frequent word in a string
from collections import Counter 
from functools import reduce
def most_commen_word(string):
    new_string = reduce(lambda a,b : a+b , [i.split() for i in string])
    count = Counter(new_string)
    return count.most_common(1)[0][0]
string = input("enter string here")
print(most_commen_word(string))

In [ ]:
#45. find all unique words in a string. python
def find_unique_words(string):
 
  words = string.split()

  
  unique_words = set()

  
  for word in words:
    if word not in unique_words:
        unique_words.add(word)

  
  return unique_words

In [ ]:
#.46 Count the number of syllables in a string
def syllable_count(word):
    count = 0
    vowels = ["a","e","i","o","u","y"]
    if word[0] in vowels:
        count += 1
    for index in range(1,len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
        if word.endswith("e"):
            count -=1
    if count==0:
        count +=1
    return count

In [ ]:
syllable_count("wear")

In [ ]:
#47. Check if a string contains any special characters
s = input("enter string please")
N = 0
for i in s:
    if i.isalpha() or i.isnumeric() or i == " ":
        pass
    else:
        N = N + 1
if N>0:
    print ("YES")
else:
    print ("NO")

In [ ]:
#48. Remove the nth word from a string
def remove_nth_word(string, n):
    words = string.split()
    del words[n-1]
    return " ".join(words)

In [ ]:
remove_nth_word("haidar is not an iitian",3)

In [ ]:
#49. Insert a word at the nth position in a string
def insert (source_str, insert_str, pos):
    return source_str[:pos] + insert_str + source_str[pos:]

In [ ]:
insert("i love python", "awsome",7)

In [ ]:
#50. Convert a CSV string to a list of lists.
import csv

csv_string = """
1,2,3
4,5,6
7,8,9
"""
reader = csv.reader(csv_string.splitlines())
parsed_csv = list(reader)

### List Based Practice Problem

In [ ]:
#1.List Based Practice Problem
number = list(range(1,11))

In [ ]:
#2. Find the length of a list without using the `len()` function.
def string_length(my_string):
    counter = 0
    for char in my_string:
        counter += 1
    return counter


string_input = input("enter string :")
length = string_length(string_input)

print("length is ", length)

In [ ]:
# 3. Append an element to the end of a list.
fruit_list = []

print(f'Current Fruits List {fruit_list}')

new_fruit = input("Please enter a fruit name:\n")

fruit_list.append(new_fruit)

print(f'Updated Fruits List {fruit_list}')

In [ ]:
# 4. Insert an element at a specific index in a list.
list = ['Sun', 'rises', 'in', 'the', 'east'] 
list.insert(0, "The") 
print(list)

In [ ]:
# 5. Remove an element from a list by its value.
lst = ['Iris', 'Orchids', 'Rose', 'Lavender',
    'Lily', 'Carnations']
print("Original List is :", lst)
lst.remove(input("ENTER ELEMNT:-"))
print("After deleting the item :", lst)

In [ ]:
#6. Remove an element from a list by its index.
lst =['Iris', 'Orchids', 'Rose', 'Lavender',
    'Lily', 'Carnations']
print("Original List is :", lst)
lst.pop(int(input("ENTER INDEX")))
print("After deleting the item :", lst)

In [ ]:
#7. Check if an element exists in a list.
lst = ['Sun', 'rises', 'in', 'the', 'east'] 
print("Original List is :", lst)
i = (input("ENTER ELEMNT:-"))
if i in lst:
    print("YES")
else:
    print("NO")

In [ ]:
# 8.Find the index of the first occurrence of an element in a list.
lst = ['Sun', 'rises', 'in', 'the', 'east'] 
print("Original List is :", lst)
l = lst.index((input()))
print(l)

In [ ]:
#9. Count the occurrences of an element in a list.
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count

In [ ]:
#10. Reverse the order of elements in a list.
list1 = input("ENTER LIST HERE")
reversed_list = list1[::-1]
print(reversed_list)

In [ ]:
#11. Sort a list in ascending order.
list1 = input("ENTER LIST HERE")
sort= sorted(list1)
i = [","]
if i in sort:
    None
print(sort)

In [ ]:
#12. Sort a list in descending order.
list = [1,2,3,4,5,0]

sorted_list = sorted(list, reverse=True)

print(sorted_list)

In [ ]:
#13Create a list of even numbers from 1 to 20.
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in l1:
    if i%2 == 0:
        print(i)

In [ ]:
#14. Create a list of odd numbers from 1 to 20.
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in l1:
    if i%2 != 0:
        print(i)

In [ ]:
#15. Find the sum of all elements in a list.
total = 0
l1 = [1,2,3,4,5,6,7,8,9,11,10,12,13,14,15,16,17,18,19,20]
 
for ele in range(0, len(l1)):
    total = total + l1[ele]
print("Sum of all elements in given list: ", total)

In [ ]:
#16. Find the maximum value in a list.
l1 = [1,2,3,4,5,6,7,8,9,11,10,12,13,14,15,16,17,18,19,20]
M = max(l1)
print(M)

In [ ]:
#17. Find the minimum value in a list.
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
N = min(l1)
print(N)

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.
l1 = [1,2,3,4,5,6,7,8,9,10]
for i in l1:
    i = i*i
    print(i)

In [ ]:
#19. Create a list of random numbers.
import random
number = random.random()
print(number)

In [ ]:
#20. Remove duplicates from a list.
test_list = (input("ENTER LIST"))
print ("The original list is : "
        + str(test_list))
test_list = (set(test_list))
print ("The list after removing duplicates : "
        + str(test_list))
#"""please enter without "," """#

In [ ]:
# 21. Find the common elements between two lists
list1 =  (input("ENTER LIST"))
list2= (input("ENTER LIST"))
NEW = []
for i in list1:
    if i in list2:
        NEW.append(i)
print(NEW)
#ENTER WITHOUT ","

In [ ]:
#  22. Find the difference between two lists
list1 =  (input("ENTER LIST"))
list2= (input("ENTER LIST"))
NEW = []
for i in list1:
    if  i not in list2:
            NEW.append(i)
print(NEW)      
#ENTER WITHOUT ","

In [ ]:
# 23.Merge two lists
list1 =  (input("ENTER LIST"))
list2= (input("ENTER LIST"))
print((list1 + list2))

In [ ]:
# 24. Multiply all elements in a list by 2
my_list = [1, 2, 3, 4, 5]
my_new_list = [i * 2 for i in my_list]

print(my_new_list)

In [ ]:
#25 . Filter out all even numbers from a list
def is_even(number):
    return number % 2 == 0

numbers = list(map(int, input("Enter the numbers: ").split()))

even_numbers = list(filter(is_even, numbers))

print("The even numbers are:", even_numbers)

In [ ]:
# 26. Convert a list of strings to a list of integers
def convert_string_list_to_int_list(string_list):
    int_list = [int(x) for x in string_list]
    return int_list

string_list =["1", "2", "3"]
int_list = convert_string_list_to_int_list(string_list)
print(int_list)

In [ ]:
# 27. Convert a list of integers to a list of strings.
def convert_to_str(ints):
    strings = []
    for int in ints:
        strings.append(str(int))
    return strings

ints = input("Enter a list of integers: ")
print(convert_to_str(ints))

In [ ]:
# 28. Flatten a nested list
def flat(lis):
    flatList = []

    for element in lis:
        if type(element) is list:

            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList


lis =[input("ENTER TWO LIST")]
print('List', lis)
print('Flat List', flat(lis))

In [ ]:
# 29. Create a list of the first 10 Fibonacci numbers
n = 10
num1 = 0
num2 = 1
num3 = num1  
count = 1
 
while count <= n:
    print(num3, end=" ")
    count += 1
    num1, num2 = num2, num3
    num3 = num1 + num2

In [ ]:
# 30. Check if a list is sorted.
list_a = input("ENER LIST ")

is_sorted = True

for i in range(len(list_a) - 1):
    if list_a[i] >= list_a[i + 1]:
        is_sorted = False

if is_sorted:
    print("The list is sorted.")
else:
    print("The list is not sorted.")
    #ENTER WITHOUT "," AND SPACE

In [ ]:
# 31. rotate a list to the left by `n` positions.
def rotate_left(list, n):
    return list[n:] + list[:n]

In [ ]:
#  32. Rotate a list to the right by `n` positions.
import numpy as np

def rotate_right(list, n):
    return np.roll(list, n)

In [ ]:
# 33. Create a list of prime numbers up to 50
for nu in range(2,51):
    if all(nu%i!=0 for i in range(2,nu)):
        print (nu)

In [ ]:
# 34. Split a list into chunks of size `n`.
def split_chunks(list, N):
    chunks = []
    for i in range(0, len(list),N):
        chunks.append(list[i:i+N])
    return chunks

In [ ]:
#35. Find the second largest number in a list
list1 = [10, 20, 4, 45, 99]
 
mx = max(list1[0], list1[1]) 
secondmax = min(list1[0], list1[1]) 
n = len(list1)
for i in range(2,n): 
    if list1[i] > mx: 
        secondmax = mx
        mx = list1[i] 
    elif list1[i] > secondmax and \
        mx != list1[i]: 
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
print("Second highest number is : ",\
      str(secondmax))

In [ ]:
# 36. Replace every element in a list with its square
list1 =  [21,2,3,4,5]
for i in list1:
    i = i**2
    print(i)

In [ ]:
#  37. Convert a list to a dictionary where list elements become keys and their indices become values
list1 = input()
new_one = dict(enumerate(list1))
print (new_one)

In [ ]:
#38. Shuffle the elements of a list randomly
import random
def suffule(list):
    random.shuffle(list)
    return list

In [ ]:
#  39. Create a list of the first 10 factorial numbers
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorials = []
for i in range(10):
    factorials.append(factorial(i))

print(factorials)

In [ ]:
# 40.Check if two lists have at least one element in common
def common(list1,list2):
    for i in list1:
        if i in list2:
            print(i)
    else:
        print("NO MATCH FOUND")

In [ ]:
# 41 Remove all elements from a list.
list =[input("ENTER list")]
list.clear()
print(list)

In [ ]:
#  42. Replace negative numbers in a list with 0.
def negative(list):
    for i in range(len(list)):
        if list[i] < 0:
            list[i] = 0
    print(list)

In [ ]:
# 43. Convert a string into a list of words
string = input("PASS A STRING")
words = string.split()
print(words)

In [ ]:
#44. Convert a list of words into a string.
def list_2_string(l):
    s = ""
    for i in l:
        s += i
    return s

In [86]:
# 45. Create a list of the first `n` powers of 2.
def problem(n):
    myList = []
    for i in range(len(n)):
        number = i**2
        myList.append(number)
    return myList

In [91]:
# 46. Find the longest string in a list of strings.
def  longest_tring(list):
    max_len = -1
    for i in list:
        if len(i) > max_len:
            max_len = len(i)
            result = i
    return i

In [110]:
# 47. Find the shortest string in a list of strings
def shortest_string(list):
    print("The original list : " + str(list))
    min_len = 9999999
    for i in list:
        if len(i) < min_len:
            min_len = len(i)
            result=i
    return  result

In [ ]:
# 48. Create a list of the first `n` triangular numbers
n = int(input("ENTER N"))
triangle_nums = []
num = 0

for i in range(1, n+1):
    num += i
    triangle_nums.append(num)
print(triangle_nums)

In [ ]:
#  49. Check if a list contains another list as a subsequence
def is_subsequence(l,L):
      
    for i in range(len(L)-len(l)+1):
        for j in range(len(l)):
            if L[i + j] != l[j]:
                break
        else:
            return True
     
    return False
print(is_subsequence(l,L))

In [ ]:
#  50. Swap two elements in a list by their indices
def swapelement(list,index_1 , index_2):
    T = list[index_1]
    list[index_1] = list[index_2]
    list[index_2] = T
    return  list

 ### TUPLE BASED PROBLEM

In [49]:
#  1. Create a tuple with integers from 1 to 5
T = tuple(range(1,6))
print(T)

(1, 2, 3, 4, 5)

In [ ]:
#  2. Access the third element of a tuple.
my_tuple = (1, 2, 3)

print(my_tuple[2])

In [6]:
# 3. Find the length of a tuple without using the `len()` function
def tuple_len(tuple):
    counter = 0
    for i in tuple:
        counter += 1
    return counter

In [20]:
# 4. Count the occurrences of an element in a tuple
def countX(tuple, x):
    count = 0
    for i in tuple:
        if (i== x):
            count = count + 1
    return count

In [ ]:
# 5.Find the index of the first occurrence of an element in a tuple
my_tuple = input("ENTER TUPLE")
n = input("ENTER INDEX")
print(my_tuple.index(n))

In [74]:
# 6. Check if an element exists in a tuple
def element_exist(tuple,ele):
    for i in tuple:
        if i == ele:
            print("YES element exists",ele)
            break
    else:
        print("NO! element NOT exists")

In [82]:
# 7. Convert a tuple to a list
def tuple_2_list(tuple):
    r = list(tuple)
    return r

In [81]:
#  8. Convert a list to a tuple
def list_2_tuple(list):
    r = tuple(list)
    return r

In [3]:
# 9. Unpack the elements of a tuple into variables.
a =  ("MNNIT Allahabad", 5000, "Engineering")  
(college, student, type_ofcollege) = a  
print(":--",college)
print(":--",student)
print(":--",type_ofcollege)
## unable to take input

:-- MNNIT Allahabad
:-- 5000
:-- Engineering

In [4]:
#10. Create a tuple of even numbers from 1 to 10
even_numbers = tuple(filter(lambda x: x % 2 == 0, range(1, 11)))

In [6]:
# 11. Create a tuple of odd numbers from 1 to 10
odd_numbers = tuple(filter(lambda x: x % 2 !=0, range(1, 11)))

In [16]:
# 12. Concatenate two tuples
def  Concatenate(tuple1,tuple2):
    new_tuple = tuple1 + tuple2
    return(new_tuple)

In [18]:
# 13. Repeat a tuple three times.
def repe_tuple(tuple):
    return tuple*3

In [26]:
#  14. Check if a tuple is empty
def cheker(tuple):
    if tuple == ():
        print("YES")
    else:
        print("NO")

In [42]:
#  15. Create a nested tuple.
def  NESTED(tuple1,tuple2):
    return tuple1,(tuple2)

In [60]:
# 16. Access the first element of a nested tuple
def access(tuple):
    return tuple[0]

In [ ]:
#17. Create a tuple with a single element
list= input("ENTER 1 NUMBER ONLY WITH END OF ,")
print(tuple)

In [106]:
#  18. Compare two tuples.
def compare(tuple1,tuple2):
    for i in tuple1:
        for j in tuple2:
             i == j
        print(i)
    return("NO MATCH FOUND")

In [108]:
#19. Delete a tuple.
def deleter(tuple):
    return ()

In [116]:
#  20. Slice a tuple.
def slice1(tuple,start,stop):
    slice2 = tuple[start:stop]
    return slice2

In [ ]:
# 21. Find the maximum value in a tuple
tuple = input("ENTER TUPLE")
max_valu = max(tuple)
print("MAXIMUM TUPLE",max_valu)

In [134]:
#  22. Find the minimum value in a tuple.
def mini(Tuple):
    r = min(Tuple) 
    return('Minimum of Tuple is', r)

In [ ]:
#23. Convert a string to a tuple of characters
str = input("ENTER STRING")
tuple(str)

In [ ]:
#24. Convert a tuple of characters to a string.
def convertTuple(tup):
        # initialize an empty string
    str = ''
    for item in tup:
        str = str + item
    return str
 
# Driver code
tuple = ('r', 'e', 'h', 'a', 'n')
str = convertTuple(tuple)
print(str)

In [ ]:
#25. Create a tuple from multiple data types
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

In [ ]:
#26. Check if two tuples are identical.
tuple1 = (input())
tuple2 = (input())

print(tuple1 == tuple2)

In [ ]:
#27. Sort the elements of a tuple.
tuple = (input())
sorted(tuple)
#wrie without "," and space ()

In [ ]:
#28. Convert a tuple of integers to a tuple of strings

def str_to_tuple(test_str):
    def helper(index, temp):
        if index >= len(test_str):
            if temp:
                res.append(int(temp))
            return tuple(res)
        elif test_str[index].isdigit():
            temp += test_str[index]
            return helper(index + 1, temp)
        elif temp:
            res.append(int(temp))
            temp = ''
        return helper(index + 1, temp)
     
    res = []
    return helper(0, '')
 
test_str = "(7, 8, 9)"
res = str_to_tuple(test_str)
print("The tuple after conversion is : " + str(res))

In [ ]:
#29. Convert a tuple of strings to a tuple of integers.
test_str = "(7, 8, 9)"
res = []
temp = ''
for char in test_str:
    if char.isdigit():
        temp += char
    elif temp:
        res.append(int(temp))
        temp = ''
if temp:
    res.append(int(temp))
res = tuple(res)
print("The tuple after conversion is : " + str(res))

In [15]:
#30 Merge two tuples
def  Merge(tuple1,tuple2):
    result = (tuple1 + tuple2)
    return result

In [ ]:
#31. Flatten a nested tuple
def Flatten(tuple):
    return [j for i in tuple for j in tuple]
tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = flatten(tuple)
print(flattened_tuple)

In [ ]:
#32. Create a tuple of the first 5 prime numbers.
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list
 
# Driver program
starting_range = 1
ending_range = 6
lst = prime(starting_range, ending_range)
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", lst)

In [19]:
#33. Check if a tuple is a palindrome.
def palindrome(tuple):
    if len(tuple) == 0 or len(tuple) == 1:
        return "THIS IS PALANDROME" 
    elif tuple[0] == tuple[-1] and palindrome(tuple[1:-1]):
        return "THIS IS PALANDROME" 
    else:
        "THIS IS NOT PALINDROME"

In [37]:
#34. Create a tuple of squares of numbers from 1 to 5.
squares = tuple(i*i for i in range(1,6))

In [ ]:
#35. Filter out all even numbers from a tuple
def even_tuples(lst,newlst=[],start=0):
  if start==len(lst):  
    return newlst
  for i in lst[start]:
    if i%2!=0:
      return even_tuples(lst,newlst,start+1)
  else:
    newlst.append(lst[start])
  return even_tuples(lst,newlst,start+1)

test_list = [(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7, )]
 

print("The original list is : " + str(test_list))
 
res_list = even_tuples(test_list)
 

print("Filtered Tuples : " + str(res_list))

In [105]:
#36. Multiply all elements in a tuple by 2
def double(test_tup):
    res = ()
    for ele in test_tup:
        res += (ele * 2,)
    print(res)

In [2]:
#37. Create a tuple of random numbers.
import random
import itertools
N = 5
R = 10
 
ran = random.sample(list(itertools.product(range(R + 1), repeat = 2)), N)
print("The N random tuples :" + str(ran))

The N random tuples :[(9, 9), (9, 2), (0, 9), (3, 9), (10, 6)]

In [25]:
#38. Check if a tuple is sorted
def check_sorted(t):
    assert len(t) >= 2

    ascending =  t[1] > t[0]
    norm = lambda d : d if ascending else -d
    for i in range(2, len(t)):
        if norm(t[i] - t[i-1]) < 0:
            return False
        return True

In [40]:
#39. Rotate a tuple to the left by `n` positions.
def rotate_tuple(tuple, n):
   
    for i in range(n):
       
        tuple.insert(0,tuple.pop())
  
    return tuple

In [48]:
#40. Rotate a tuple to the right by `n` positions.
def right_rotater(tuple,n):
    num =[]
    for i in range(len(tuple)-n,len(tuple)):
        num.append(tuple[i])
        
    for i in  range(0,len(tuple)-n):
        num.append(tuple[i])
    return num

In [64]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def fib(n):
    tup=[]
    tup.append(0)
    a,b = 0,1
    while b<n:
        tup=tup+[b,]
        a,b = b,a+b
    return tup

In [ ]:
#42. Create a tuple from user input
tuple =input("ENTER TUPLE")
print(tuple)

In [ ]:
#43. Swap two elements in a tuple.
test_list = [(3, 4), (6, 5), (7, 8)]
print( str(test_list))
res = [(sub[1], sub[0]) for sub in test_list]
print(str(res))

In [100]:
#44. Reverse the elements of a tuple.
def reverse(tuple):
    r= tuple[::-1]
    return  r

In [104]:
#45. Create a tuple of the first `n` powers of 2.
def squares(n):
    power = n
    square_list = []
    for i in range(1,n+1):
        square_list.append(2 ** i)
    return square_list

In [158]:
#46. Find the longest string in a tuple of strings
def longer(tuple):
    max_len = -1
    for ele in tuple:
        if len(ele) > max_len:
            max_len = len(ele)
            res = ele
    return res

In [ ]:
#47. Find the shortest string in a tuple of strings.

def shorter(tuple):
    shortest_string = min(tuple, key=len)

print(shortest_string)

In [179]:
#48. Create a tuple of the first `n` triangular numbers
def tringal_face(n):
    k = 1
    j = 1
    for i in range(1,n+1):
        print(k,end=" ")
        j = j+1
        k = k+j

In [181]:
#49. Check if a tuple contains another tuple as a subsequence.
def subsequence(tuple1,tuple2):
    r = set(tuple1).issubset(tuple2)
    return r

In [ ]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
count_1 = 4
count_0 = 3
size = 14
 
test_list = [1 if i % (count_1 + count_0) < count_1
             else 0 for i in range(size)]
 
print("The list after initializing : " + str(test_list))

### set base problem

In [16]:
#1. Create a set with integers from 1 to 5
S = set(range(1,6))
print(S)

{1, 2, 3, 4, 5}

In [ ]:
#2. Add an element to a set.
G = set()
x = input()
G.update(x)
print(G)

In [36]:
#3. Remove an element from a set.
def remover(set,remove_part):
    set.remove(remove_part)
    return set

In [51]:
#4. Check if an element exists in a set.
def checker(set,x):
    for i in set:
        if i == x:
            return "YES EXISTS"
    return "NO MATCH FOUND"

In [ ]:
#5. Find the length of a set without using the `len()` functio
def lenght(set):
    count = 0
    for i in set:
        count +=1
    return count

In [ ]:
#6. Clear all elements from a set.
S = {input("ENTER SET")}
S.clear()
print(S)

In [ ]:
# 7. Create a set of even numbers from 1 to 10.
even_in_set=({x for x in range(1,11)if x % 2 == 0})
even_in_set

In [80]:
#8. Create a set of odd numbers from 1 to 10.
odd_in_set=({y for y in range(1,11)if y % 2 != 0})
odd_in_set

In [82]:
#9. Find the union of two sets.
def union_two_set(set1,set2):
    return set1.union(set2)

In [84]:
#10. Find the intersection of two sets
def intersection_two_set(set1,set2):
    return set1.intersection(set2)

In [10]:
#11. Find the difference between two sets.
def found_diff(set1,set2):
    print(set1-set2)
    print(set2-set1)

In [28]:
#12. Check if a set is a subset of another set.
def sub(s1,s2):
    print(s2.issubset(s1))

In [31]:
#13. Check if a set is a superset of another set.
def sup(s1,s2):
    return s2.issuperset(s1)

In [38]:
#14. Create a set from a list.
number = list(range(1,11))
set(number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [37]:
#15. Convert a set to a list
number = set(range(1,11))
list(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
#16. Remove a random element from a set
def rand_remover(set):
    set.pop()
    return set

In [ ]:
#17. Pop an element from a set
def rand_remover(set):
    set.pop()
    return set

In [49]:
#18. Check if two sets have no elements in common
def isdis(set1,set2):
    return set2.isdisjoint(set1)

    return False

In [54]:
#19. Find the symmetric difference between two sets.
def synmetric(set1,set2):
    return set1.symmetric_difference(set2)

In [56]:
#20. Update a set with elements from another set.
def updater(set,x):
    set.update(x)
    return set

In [ ]:
#21. Create a set of the first 5 prime numbers.
def isPrime(n):
  
  if(n==1 or n==0):
    return False
   
  
  for i in range(2,n):
    if(n%i==0):
      return False
   
    
  return True
 
 
 
# Driver code
N = 100;
for i in range(1,N+1):
    
  if(isPrime(i)):
    print(i,end=" ")

In [38]:
#22. Check if two sets are identical.
def identical(set1,set2):
    return set1==set2

In [ ]:
#23. Create a frozen set.
fruits = frozenset(["apple", "banana", "orange"])
print(fruits)

In [48]:
#24. Check if a set is disjoint with another set.
def identical(set1,set2):
    return set1!=set2

In [74]:
#25. Create a set of squares of numbers from 1 to 5.
for i in range(1,6):
    s = i * i
    print(s)

1
4
9
16
25

In [ ]:
#26. Filter out all even numbers from a set## 
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = set(filter(lambda x: x % 2 == 0, numbers))


print(even_numbers)

In [96]:
#27. Multiply all elements in a set by 2.
def double(set):
    new_set = {2 * i for i in set}
    return new_set

In [ ]:
#28. Create a set of random numbers.
import random
N = 10
for i in range(1,15):
    y = random.randrange(N)
    print(y)

In [104]:
def empty(set):
    q= {}
    if set == q:
        return True
    return False

In [ ]:
#30. Create a nested set (hint: use frozenset).
>>> nested_set = frozenset({frozenset({1, 2}), frozenset({3, 4})})
>>> print(nested_set)
frozenset({frozenset({1, 2}), frozenset({3, 4})})

In [ ]:
#31. Remove an element from a set using the discard method
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

In [ ]:
#32. Compare two sets.
def copare(set1,set2):
    for i in set1:
        for j in set2:
            if i==j:
                return True
    return False

In [155]:
#33. Create a set from a string.
def string_to_set(input_string):
    return set(input_string)

input_string = "hello world"
result_set = string_to_set(input_string)
print(result_set)

In [ ]:
#34. Convert a set of strings to a set of integer
strings = ("1", "2", "3")
integers = {int(string) for string in strings}
print(integers)

In [16]:
#35. Convert a set of integers to a set of strings.
my_set = input({})
my_set_of_strings = {str(x) for x in my_set}
print(my_set_of_strings)

{} 1,2,4

{'1', '4', '2', ','}

In [ ]:
#36. Create a set from a tuple.
>>> my_tuple = (input())
>>> my_set = set(my_tuple)
>>> print(my_set)

In [38]:
#37. Convert a set to a tuple.
def set_to_tuple(my_set):
    my_tuple = (*my_set,)
    print(my_tuple)
    
my_set = {1,2,3}

In [46]:
#38. Find the maximum value in a set.
def max_valu(set):
    return (max(set))

In [48]:
#39. Find the minimum value in a set.
def MIN(set):
    return (min(set))

In [ ]:
#40. Create a set from user input.
set1 = {input("ENTER SET HERE")}
print(set1)

In [58]:
##41. Check if the intersection of two sets is empty.
def intersection(set1,set2):
    return set1.intersection(set2)
# Check if the intersection of two sets is empty
if not set1 & set2:
    print("The intersection of two sets is empty")
else:
    print("The intersection of two sets is not empty")

In [ ]:
#42. Create a set of the first 5 Fibonacci numbers.
n = 5
num1 = 0
num2 = 1
next_number = num2  
count = 1
 
while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
    print()

In [120]:
#43. Remove duplicates from a list using sets.
test_list = [1, 3, 5, 6, 3, 5, 6, 1]
print("The original list is : "
      + str(test_list))
 
res = []
[res.append(x) for x in test_list if x not in res]
 
print ("The list after removing duplicates : "
       + str(res))

The original list is : [1, 3, 5, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [55]:
#44. Check if two sets have the same elements, regardless of their count.
def same(set1,set2):
    if set1 == {} or set2 == {}:
        return "DON'T GIVE BLANK SPACE"
    r = set1.issubset(set2)
    return True

In [ ]:
#45. Create a set of the first `n` powers of 2
def gen(x):
    i = 2
    for n in range(x + 1):
        yield i
        i <<= 1

tuple(gen(4))

In [123]:
#46. Find the common elements between a set and a list.
def common(set,list):
    for i in set:
        for j in list:
            if i==j:
                return i
    return "NO MATCH FOUND"

In [ ]:
#47. Create a set of the first `n` triangular numbers
def  triangular_numbers(n):
    j =1
    k =1
    for i in range(0,n+1):
        print(k,end=" ")
        j = j+1
        k = k+j

In [133]:
#48Check if a set contains another set as a subset.
def subser(set1,set2):
    r = set1.issubset(set2)
    return r

In [ ]:
#49 Create a set of alternating 1s and 0s of length `n
def create_alternating_set(n):
    set = set()
    for i in range(n):
        set.add(i % 2)
        return set
n = 10  
create_alternating_set(n)

In [160]:
#50. Merge multiple sets into one
def  Merge(set,set1,set2):
    return set.union(set1,set2)

In [161]:
set  = {1,2,3}
set1 = {4,5,6}
set2 = {7,8,9}
Merge(set,set1,set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}